:root {
	--background-default: #ECE7E2;
	--text-default: #4A7766;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	border: 0;
}

html,
body {
	min-width: 100vw;
	overflow-x: hidden;
}

html {
	height: 100%;
	color: var(--text-default);
	background-color: var(--background-default);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

main {
	width: 1278px;
	min-height: 100vh;
	padding: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2em;
	flex-grow: 1;
}

.wrapper {
	width: 26em;
	height: 48em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 2em;
	border: .1em solid;
	border-radius: 2em;
}

.title {
	padding: 1em;
	font-size: 2em;
	border-bottom: .05em solid;
	
}

.rollValue {
	padding: .5em;
	font-size: 2em;
	line-height: 1.6em;
	width: 5em;
	height: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: .05em solid;
	border-radius: 1em;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: .7em; 
}

.button {
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 1.1em;
}

.buttonRollTheDice {
	color: var(--background-default);
	background-color: var(--text-default);
}

.buttonClearTheHistory {
	color: var(--text-default);
	background-color: var(--background-default);
	border: .05em solid;
}

.historyWrapper {
	width: 100%;
	height: 100%;
	padding: 1em;
	border: .05em solid;
	border-radius: 1.3em;
	overflow-y: scroll;
}

.historyDisplay {
	list-style-type: none;
	padding: .5em;
	
}